{% extends 'base.html' %} {% block content %}
<div class="row justify-content-center">
	<div class="meal-result">
		<h2 class="title">{{user.username}}'s favorites</h2>
		
		<div id="meal">
			<!-- meal item -->
			
			<div class="meal-item text-center">
				<div class="meal-img">
					<img src="{{post_favorite.img}}" alt="" />
				</div>
				<div class="meal-name">
					<h3>{{post_favorite.name}}</h3>
					<a class="recipe-btn" href = "{{post_favorite.vid}}" target = "_blank"> Watch on YouTube
				</div>
				
			</div>
	
			<!-- end of meal item -->
			
		</div>
	</div>
</div>

{% endblock %}
