{% extends 'base.html' %} {% block content %}

<body>
	<div class="container py-3">
		<!-- ALT NAV -->
		<nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto float-right">
			{% if request.endpoint != None %} {% endif %} {% if not user %}
			<a class="me-3 py-2 text-dark text-decoration-none" href="/logout"
				>Log Out</a
			>
			<a class="me-3 py-2 text-dark text-decoration-none" href="/favorites"
				>Favorites</a
			>
			{% else %}

			<a
				href="{{ g.user.id }}"
				class="me-3 py-2 text-dark text-decoration-none"
			>

			{% endif %}
		</nav>

		<header
			class="
				d-flex
				flex-column flex-md-row
				align-items-center
				pb-3
				mb-4
				border-bottom
			"
		>
			<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
				<h1 class="display-4 fw-normal">Smart Recipe</h1>
				<p class="fs-5 text-muted">Find Meals For Your Ingredients.</p>
				<blockquote>
					Real food doesn't have ingredients, real food is ingredients.<br />
					<cite>- Jamie Oliver</cite>
				</blockquote>
			</div>
		</header>

		<main>
			<div class="meal-search">
				<div class="meal-search-box">
					<input
						type="text"
						class="search-control"
						placeholder="Enter an ingredient"
						id="search-input"
					/>
					<button type="submit" class="search-btn btn" id="search-btn">
						<i class="fas fa-search"></i>
					</button>
				</div>
			</div>

			<div class="meal-result text-center">
				<h2 class="title">Your Search Results:</h2>
				<div id="meal">
					<!-- meal item -->
					<!-- <div class = "meal-item">
            <div class = "meal-img">
              <img src = "food.jpg" alt = "food">
            </div>
            <div class = "meal-name">
              <h3>Potato Chips</h3>
              <a href = "#" class = "recipe-btn">Get Recipe</a>
            </div>
          </div> -->
					<!-- end of meal item -->
				</div>
			</div>

			<div class="meal-details">
				<!-- recipe close btn -->
				<button
					type="button"
					class="btn recipe-close-btn"
					id="recipe-close-btn"
				>
					<i class="fas fa-times"></i>
				</button>

				<!-- meal content -->
				<div class="meal-details-content">
					<!-- <h2 class = "recipe-title">Meals Name Here</h2>
          <p class = "recipe-category">Category Name</p>
          <div class = "recipe-instruct">
            <h3>Instructions:</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo blanditiis quis accusantium natus! Porro, reiciendis maiores molestiae distinctio veniam ratione ex provident ipsa, soluta suscipit quam eos velit autem iste!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet aliquam voluptatibus ad obcaecati magnam, esse numquam nisi ut adipisci in?</p>
          </div>
          <div class = "recipe-meal-img">
            <img src = "food.jpg" alt = "">
          </div>
          <div class = "recipe-link">
            <a href = "#" target = "_blank">Watch Video</a>
          </div> -->
				</div>
			</div>
		</main>
		<footer
			class="
				d-flex
				flex-column flex-md-row
				align-items-center
				pb-3
				mb-4
				border-bottom
			"
		></footer>
	</div>
</body>

{% endblock %}
