{% extends 'base.html' %} {% block content %}
<header
	class="
		d-flex
		flex-column flex-md-row
		align-items-center
		pb-3
		mb-4
		border-bottom
	"
>
	<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
		<h1 class="display-4 fw-normal">Smart Recipe</h1>
		<p class="fs-5 text-muted">
			Want to find a complete meal with only one ingredient?<br />
			We got your back, Sign up and get started for free!
		</p>
		<blockquote>
			Real food doesn't have ingredients, real food is ingredients.<br />
			<cite>- Jamie Oliver</cite>
		</blockquote>
	</div>
</header>

<div class="container">
	<h1 class="display-4">Register</h1>
	<form method="POST">
		{{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
		'hidden' %}
		<p>
			{{ field.label }} {{ field }} {% for error in field.errors %} {{ error }}
			{% endfor %}
		</p>
		{% endfor %}

		<button class="recipe-btn" type="submit">Register</button>
	</form>
</div>

{% endblock %}
